#titulo{
    font-size: 2em;
    display:flex;
    justify-content: center;
}


#plataformas{
    display: flex; gap: px;
    justify-content: space-between;
    justify-content: center;
    height: 400px;

}


.plat{
    background-color: rgb(164, 202, 163);
    margin: 3px;
    padding-inline: 10px;
    border-radius:1%;
    text-align: justify;

}



.musica::after{
    content: " \266C";
}


#box{
    
}
